# Copyright (c) 2026 Chriesibaum GmbH
# SPDX-License-Identifier: Apache-2.0

config CB_INFO
	bool "Enable cb_zephyr_module info library"
	select HWINFO
	help
	  Enable the cb_info library provided by cb_zephyr_module.
